<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2>Sign Up</h2>
        <form method="post">
            {% csrf_token %}
            
            <div class="form-group">
                {{ form.first_name.label_tag }}
                {{ form.first_name }}
            </div>

            <div class="form-group">
                {{ form.last_name.label_tag }}
                {{ form.last_name }}
            </div>

            <div class="form-group">
                {{ form.email.label_tag }}
                {{ form.email }}
            </div>
            
            <div class="form-group">
                {{ form.mobile_no.label_tag }}
                {{ form.mobile_no }}
            </div>
            
            <div class="form-group">
                {{ form.date_of_birth.label_tag }}
                {{ form.date_of_birth }}
            </div>
            
            <div class="form-group">
                <label for="gender">Gender:</label>
                <select class="form-control" id="gender" name="gender">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
            
            <div class="form-group">
                {{ form.hobbies.label_tag }}
                <select class="form-control" id="gender" name="gender" multiple>

                    <option></option>
                    {% for checkbox in hobbies %}
                        <option value="{{checkbox.id}}">{{ checkbox.hobbies }}</option>
                    {% endfor %}
                </select>
                    
            </div>
            
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
    </div>
    <!-- Include Bootstrap JS and jQuery scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
