<!DOCTYPE html>
<html>
  <head>
    <title>Sign In</title>
    <!-- Include Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <h2>Sign In</h2>
      <form method="post">
        {% csrf_token %} {{ form.email.label_tag }} {{ form.email }} {{
        form.password.label_tag }} {{ form.password }}

        <button type="submit" class="btn btn-primary">Sign In</button>
      </form>
    </div>
    <!-- Include Bootstrap JS and jQuery scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
